/*This is the header section styles*/
header {
	background-image: url("../../assets/layout/head-bg.jpg");
	width: 100%;
	min-height: 447px;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

header h2 {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.2em;
	margin-top: 10%;
}

header h2 a {
	margin-left: 0%;
	color: #fff;
}

header p {
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	color: #fff;
	letter-spacing: .1em;
	margin-top: 2%;
}
header a {
	text-decoration: none !important;
	margin-left: 80%;
	color: #fff;
}

header .tab {
	font-weight: 900;
	font-size: 1.4em;
}
header .social-pack {
	text-align: center;
}
header .social-pack a {
	text-decoration: none;
}
header .social-pack a:hover {
	color: #00b3ee;
}

.post-loop {
	margin: 3em 20em;
}

.post-loop .post-title {
	font-size: 1.6em;
	font-weight: 900;
	color: #777;
	letter-spacing: 0.07em;
}
.post-loop .post-excerpt {
	font-size: 0.9em;
	margin-top: 2%;
	line-height: 1.5em;
}

.post-loop .single-post + .single-post {
	margin-top: 5em;
}

.post-details {
	font-weight: 700;
}
.post-details em {
	color: #444444;
	font-size: .9em;
	display: inline;
	float: left;
	padding-right: 1%;
}
.post-details ul {
	font-size: 0.9em;
}
.post-details ul li {
	list-style: none;
	display: inline;
}
.post-details ul li a {
	background-color: #07736B;
	color: #fff;
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
}

.pagignation {
	margin-left: 22%;
	margin-bottom: 5%;
	display: block;
}
.pagignation ul {
	list-style: none;
}
.pagignation ul .page-numbers a {
	text-decoration: none;
	float: left;
	margin-left: 3px;
}

.icon-pack {
	color: #3c3c3c;
	padding-left: 1%;
	text-align: center;
}

/*This is the styles of single page post header*/
.single-post-title {
	text-align: center;
	font-weight: 900;
	font-size: 2.5em;
	display: inline;
	margin-left: 42%;
	margin-top: 5%;
}

.single-about-link {
	text-decoration: none;
	color: #0f0f0f;
	margin-left: 25%;
}

.single-post-image-holder {
	max-width: 100%;
	height: 50%;
}
.single-post-image-holder .single-post-img {
	padding: 5% 10%;
	z-index: -1;
	overflow: hidden;
	max-width: inherit;
	height: inherit;
}

.single-post-title-main {
	margin-left: 10%;
}
.single-post-title-main h2 {
	/*font-size: 5em;*/
	font-size: 3em;
	font-weight: 900;
}
.single-post-title-main small {
	font-kerning: normal;
	letter-spacing: .2em;
	font-weight: 700;
}

.post {
	margin: 5% 10%;
	font-weight: 100;
	font-size: 1.3em;
}
.post blockquote {
	font-size: 1.9em;
	font-style: italic;
	font-weight: 600;
	color: #262626;
	margin-left: 0% !important;
	margin-top: 5%;
	margin-bottom: 5%;
}

.single-author {
	margin-left: 10%;
}

.about-header {
	margin-left: 38%;
	margin-top: 6%;
}
.about-header img {
	margin: 5% 8%;
}
.about-header h2 {
	font-weight: 900;
	font-size: 2.5em;
}

.about-bio {
	margin: 5% 10%;
	font-size: 1.3em;
	font-weight: 200;
}

a {
	text-decoration: none !important;
}
a:hover {
	color: #000 !important;
}

/*# sourceMappingURL=custom.css.map */


.pi-retro {
	background-color: #c1216f !important;
}

a {
	color: #c1216f !important;
}

header a {
	margin: 0;
	display: block;
	text-align: center;
}

header .head-logo {
	margin: 0 auto;
	padding-top: 160px;
}


@media screen and (min-width: 64em) { /* 1030px ~ */
	.post-loop {
		margin: 6% 20%;
	}
}

@media screen and (max-width: 64em) and (min-width: 42em) { /* 670px ~ 1030px */
	.post-loop {
		margin: 6% 10%;
	}
}

@media screen and (max-width: 42em) { /* 670px */
	.post-loop {
		margin: 3% 5%;
	}

	.icon-pack {
		margin-left: 12%;
	}

	.single-post-title {
		margin-left: 30%;
		display: inline-block;
	}
	.single-about-link {
		margin-left: 78%;
	}

	.about-header {
		margin-left: 27%;
	}
	.about-header img {
		margin: 5% 5%;
	}
	.about-header h2 {
		margin-left: 0%;
		font-size: 1.5em;
	}
}
