

.pagignation {
	margin-left: 22%;
	margin-bottom: 5%;
	display: block;
}

.pagignation ul {
	list-style: none;
}

.pagignation ul .page-numbers a {
	text-decoration: none;
	float: left;
	margin-left: 3px;
}

.icon-pack {
	color: #3c3c3c;
	padding-left: 1%;
	text-align: center;
}

.single-post-title {
	text-align: center;
	font-weight: 900;
	font-size: 2.5em;
	display: inline;
	margin-left: 42%;
	margin-top: 5%;
}

.single-about-link {
	text-decoration: none;
	color: #0f0f0f;
	margin-left: 25%;
}

.single-post-image-holder {
	max-width: 100%;
	height: 50%;
}
.single-post-image-holder .single-post-img {
	padding: 5% 10%;
	z-index: -1;
	overflow: hidden;
	max-width: inherit;
	height: inherit;
}

.post blockquote {
	font-size: 1.9em;
	font-style: italic;
	font-weight: 600;
	color: #262626;
	margin-left: 0% !important;
	margin-top: 5%;
	margin-bottom: 5%;
}

.about-header {
	margin-left: 38%;
	margin-top: 6%;
}
.about-header img {
	margin: 5% 8%;
}
.about-header h2 {
	font-weight: 900;
	font-size: 2.5em;
}

.about-bio {
	margin: 5% 10%;
	font-size: 1.3em;
	font-weight: 200;
}

.pi-retro {
	background-color: #c1216f !important;
}


@media screen and (min-width: 64em) { /* 1030px ~ */
}

@media screen and (max-width: 64em) and (min-width: 42em) { /* 670px ~ 1030px */
}

@media screen and (max-width: 42em) { /* 670px */

	.icon-pack {
		margin-left: 12%;
	}

	.single-post-title {
		margin-left: 30%;
		display: inline-block;
	}
	.single-about-link {
		margin-left: 78%;
	}

	.about-header {
		margin-left: 27%;
	}
	.about-header img {
		margin: 5% 5%;
	}
	.about-header h2 {
		margin-left: 0%;
		font-size: 1.5em;
	}
}
