@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: 1em;
	line-height: 1.5;
	font-family: "Nanum Gothic", sans-serif;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 12px;
	overflow-x: auto;
}
pre {
	padding: 20px;
	background: #3A3C42;
	color: #c0c1c5;
}
pre code {
	color: #f8f8f2 !important;
}

pre code, pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}
pre code:before, pre code:after, pre tt:before, pre tt:after {
	content: normal;
}

.highlight, .highlight .w {
	color: #d0d0d0;
}
.highlight .err {
	color: #151515;
	background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
	color: #888;
}
.highlight .cp {
	color: #f4bf75;
}
.highlight .nt {
	color: #f4bf75;
}
.highlight .o, .highlight .ow {
	color: #d0d0d0;
}
.highlight .p, .highlight .pi {
	color: #d0d0d0;
}
.highlight .gi {
	color: #90a959;
}
.highlight .gd {
	color: #ac4142;
}
.highlight .gh {
	color: #6a9fb5;
	font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
	color: #aa759f;
}
.highlight .kc {
	color: #d28445;
}
.highlight .kt {
	color: #d28445;
}
.highlight .kd {
	color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
	color: #90a959;
}
.highlight .sr {
	color: #75b5aa;
}
.highlight .si {
	color: #8f5536;
}
.highlight .se {
	color: #8f5536;
}
.highlight .nn {
	color: #f4bf75;
}
.highlight .nc {
	color: #f4bf75;
}
.highlight .no {
	color: #f4bf75;
}
.highlight .na {
	color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
	color: #90a959;
}
.highlight .ss {
	color: #90a959;
}

code {
	padding: 2px 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	color: #567482;
	background-color: #f3f6fa;
	border-radius: 0.3rem;
}
pre {
	padding: 0.8rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	word-wrap: normal;
	/*color: #567482;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;*/ border-radius: 0.3rem;
}
pre > code {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	/*color: #567482;*/ word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
.highlight {
	margin-bottom: 1rem;
}
.highlight pre {
	margin-bottom: 0;
	word-break: normal;
}
.highlight pre {
	padding: 0.8rem;
	overflow: auto;
	font-size: 0.9rem;
	line-height: 1.45;
	border-radius: 0.3rem;
	-webkit-overflow-scrolling: touch;
}