@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/********************
		reset
********************/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: 1em;
	line-height: 1.5;
	font-family: "Nanum Gothic", sans-serif;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

a {
	text-decoration: none !important;
}

a:visited {
	/*color: #000;*/
}

a:hover {
	color: #c1216f;
}

/********************
		header.html
********************/
header {
	background-image: url("../../assets/layout/head-bg.jpg");
	width: 100%;
	min-height: 447px;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

header h2 {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.2em;
	margin-top: 10%;
}

header a {
	margin: 0;
	display: block;
	text-align: center;
}

header .head-logo {
	margin: 0 auto;
	padding-top: 160px;
}

/********************
		default.html
********************/
article.post-loop {
	margin: 3% 5%;
}

.post-loop .post-button {
	background-color: #c1216f;
}

.post-loop .post-title {
	font-weight: 900;
}

.post-loop .post-excerpt {
	font-size: 0.9em;
	margin-top: 2%;
	line-height: 1.5em;
}

.post-loop .post-img img {
	width: 100%;
}

section.post-list {
	margin: 2em 0;
}

.post-list .post-list-wrap + .post-list-wrap {
	margin-top: 5em;
}

section.post-pagination {
	margin-top: 3em;
}

.post-pagination ul.pagination {
	list-style: none;
	padding: 0;
	overflow: hidden;
}

.post-pagination .pagination li {
	float: left;
	padding: 0.2em 0.5em;
}

.post-pagination .pagination li:nth-child(1) {
	padding-left: 0 !important;
}

/********************
		post.html
********************/
article.post {
	margin: 5% 10%;
	font-weight: 100;
	font-size: 1.3em;
}

section.post-title {
}

.post-title h2 {
	font-size: 2.3em;
	font-weight: 900;
	margin-bottom: 0;
}

.post-title small {
	font-kerning: normal;
	letter-spacing: .2em;
	font-weight: 700;
}

.post-title a {
	color: #c1216f;
}

section.post-content {
	margin: 3em 0;
}

section.post-info {
	margin: 2em 0;
}

.post-info .post-details {
	font-weight: 700;
}

.post-details em {
	color: #444444;
	font-size: .9em;
	display: inline;
	float: left;
	padding-right: 1%;
}

.post-details ul {
	font-size: 0.9em;
}

.post-details ul li {
	list-style: none;
	display: inline;
}

.post-details ul li a {
	background-color: #07736B;
	color: #fff;
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
}

/********************
		media
********************/
@media screen and (min-width: 64em) { /* 1030px ~ */
	article.post-loop {
		margin: 6% 20%;
	}
}

@media screen and (max-width: 64em) and (min-width: 42em) { /* 670px ~ 1030px */

	article.post {
		margin: 5%;
		font-size: 1.2em;
	}

	article.post-loop {
		margin: 6% 10%;
	}
}

@media screen and (max-width: 42em) { /* 670px */

	article.post {
		margin: 4%;
		font-size: 1.05em;
	}

}

/********************
		code
********************/
code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 12px;
	overflow-x: auto;
}
pre {
	padding: 20px;
	background: #3A3C42;
	color: #c0c1c5;
}
pre code {
	color: #f8f8f2 !important;
}

pre code, pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}
pre code:before, pre code:after, pre tt:before, pre tt:after {
	content: normal;
}

.highlight, .highlight .w {
	color: #d0d0d0;
}
.highlight .err {
	color: #151515;
	background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
	color: #888;
}
.highlight .cp {
	color: #f4bf75;
}
.highlight .nt {
	color: #f4bf75;
}
.highlight .o, .highlight .ow {
	color: #d0d0d0;
}
.highlight .p, .highlight .pi {
	color: #d0d0d0;
}
.highlight .gi {
	color: #90a959;
}
.highlight .gd {
	color: #ac4142;
}
.highlight .gh {
	color: #6a9fb5;
	font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
	color: #aa759f;
}
.highlight .kc {
	color: #d28445;
}
.highlight .kt {
	color: #d28445;
}
.highlight .kd {
	color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
	color: #90a959;
}
.highlight .sr {
	color: #75b5aa;
}
.highlight .si {
	color: #8f5536;
}
.highlight .se {
	color: #8f5536;
}
.highlight .nn {
	color: #f4bf75;
}
.highlight .nc {
	color: #f4bf75;
}
.highlight .no {
	color: #f4bf75;
}
.highlight .na {
	color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
	color: #90a959;
}
.highlight .ss {
	color: #90a959;
}

code {
	padding: 2px 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	color: #567482;
	background-color: #f3f6fa;
	border-radius: 0.3rem;
}
pre {
	padding: 0.8rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	word-wrap: normal;
	border-radius: 0.3rem;
}
pre > code {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	line-height: 1.6em;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
.highlight {
	margin-bottom: 1rem;
}
.highlight pre {
	margin-bottom: 0;
	word-break: normal;
}
.highlight pre {
	padding: 0.8rem;
	overflow: auto;
	font-size: 0.9rem;
	line-height: 1.45;
	border-radius: 0.3rem;
	-webkit-overflow-scrolling: touch;
}