<!-- Start with the header -->
<section class="header" id="header">
    <!-- <a class="tab pi-default pi-big pi-flat" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> My Github</a> -->
    <!-- Main Head Title -->
    <!-- {% if site.title %}<h2><a href="{{site.baseurl}}/">{{site.title}}</a></h2>{% endif %} -->
    <div class="head-logo">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/layout/head-logo.png"></a>
    </div>
</section>
