<!--start of section author-->
<section class="single-author">
	<div class="post-details">
		{% if page.author %}<p>Written by : {{ page.author }}</p>{% endif %}
		<span> Done At: {{ page.date | date: "%b %-d, %Y" }}</span>
		<div class="categories">
			<em>Categories:</em>
			<ul>
				{% for category in page.categories %}
				<li><a>{{ category }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% if page.comments %}
	<div class="fb-like" data-href="{{ site.baseurl }}{{ page.id }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
	<div class="fb-comments" data-href="{{ site.baseurl }}{{ page.id }}" data-width="100%" data-numposts="10" data-colorscheme="dark"></div>
	{% endif %}
</section>
<!--End of section author-->
