---
layout: default
---

<!--start of the post title-->
<!-- <section class="single-post-title-main">
	<h2>{{ page.title }}</h2>
	<small>Written by Mahabub I.</small>
</section> -->
<!--End of the post title-->
{% include post-header.html %}

<!--Start of the section post-->
<section class="post">
	<p>{{ content }}</p>
</section>

{% include post-footer.html %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=1127912933983675";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
